<!DOCTYPE html>
<html>
    <head>
      <title>{{ title }} - Fredrik Wallström</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>


    <body>
      <div class="page-bg"></div>
        <div class="menu-bar">
          <nav class="inner-menu-bar">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <br/>
            <li><a href="{{ url_for('index') }}">About me</a></li>
            <br/>
            <li><a href="{{ url_for('index') }}">Follow</a></li>
            <br/>
            <li><a href="{{ url_for('index') }}">Sponsors</a></li>
          </nav>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>