<!DOCTYPE html>
<html>
    <head>
      <title>{{ title }} - Fredrik Wallström</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/static/js/myjavascript.js"></script>

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    </head>



    <body>

        <div class="background"></div>



        {% block content %}{% endblock %}

    </body>
</html>